body{
    font: 20px Arial, sans-serif;
}

.site-header{
    background-color: rgb(101,103,102);
}

.nav-link{
    color: white;
}

.nav-link:hover{
    text-decoration: none;
    color: yellow;
}

.quem-somos{
    background-color: bisque;
    //color: white;
}

.padding{
    padding-top: 20px;
    padding-bottom: 20px;
}

.parceiros{
    background-color: teal;
}

.bg-footer{
    background-color: black;
    color: white;
}